@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
body {
  font-family: 'Roboto Mono';
  font-size: 12px;
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-weight: 400; }

.sy-header {
  background-color: #25CB82;
  box-shadow: 0 4px 6px rgba(24, 24, 24, 0.35);
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  position: relative;
  z-index: 2; }

.sy-header-btn {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  display: inline-block;
  color: #FFF; }

.sy-section-header {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  padding: 20px 20px 10px;
  margin: 0; }

.sy-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0 2px 3px rgba(24, 24, 24, 0.35); }

.sy-list-item {
  background-color: #FFF;
  font-size: 11px; }
  .sy-list-item + .sy-list-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .sy-list-item a {
    display: inline-block;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.5); }
    .sy-list-item a:hover, .sy-list-item a:focus {
      text-decoration: none; }
  .sy-list-item strong {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 700; }
  .sy-list-item table {
    width: 100%; }
    .sy-list-item table td {
      vertical-align: top; }
  .sy-list-item .sy-list-item--title {
    padding-right: 50px;
    color: #25CB82;
    font-size: 14px;
    font-weight: 700; }
  .sy-list-item .sy-list-item--data {
    width: 100%; }
  .sy-list-item .zmdi {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px; }

.sy-filter {
  display: block;
  height: 45px;
  padding: 15px;
  background-color: #FFF;
  box-shadow: 0 2px 3px rgba(24, 24, 24, 0.35);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  position: relative;
  z-index: 1; }
  .sy-filter:hover, .sy-filter:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7); }
  .sy-filter .zmdi {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
