$color-main: #000
$color-accent: #25CB82

body
  font-family: 'Roboto Mono'
  font-size: 12px
  background-color: #F5F5F5
  color: rgba($color-main, .5)
  font-size: 11px
  font-weight: 400

.sy-header
  background-color: $color-accent
  box-shadow: 0 4px 6px rgba(24, 24, 24, 0.35)
  color: #FFF
  font-size: 14px
  font-weight: 400
  height: 48px
  line-height: 48px
  position: relative
  z-index: 2
.sy-header-btn
  font-size: 18px
  padding: 10px 15px
  margin-top: -10px
  margin-bottom: -10px
  display: inline-block
  color: #FFF



.sy-section-header
  color: rgba($color-main, .5)
  font-weight: 400
  padding: 20px 20px 10px
  margin: 0
.sy-list
  margin: 0
  padding: 0
  list-style-type: none
  box-shadow: 0 2px 3px rgba(24, 24, 24, 0.35)
.sy-list-item
  background-color: #FFF
  font-size: 11px
  & + .sy-list-item
    border-top: 1px solid rgba($color-main, .1)
  a
    display: inline-block
    padding: 10px 15px
    color: rgba($color-main, .5)
    &:hover,
    &:focus
      text-decoration: none
  strong
    color: rgba($color-main, .7)
    font-size: 12px
    font-weight: 700
  table
    width: 100%
    td
      vertical-align: top
  .sy-list-item--title
    padding-right: 50px
    color: $color-accent
    font-size: 14px
    font-weight: 700
  .sy-list-item--data
    width: 100%
  .zmdi
    color: rgba($color-main, .5)
    font-size: 18px



.sy-filter
  display: block
  height: 45px
  padding: 15px
  background-color: #FFF
  box-shadow: 0 2px 3px rgba(24, 24, 24, 0.35)
  color: rgba($color-main, .7)
  font-weight: 400
  position: relative
  z-index: 1
  &:hover,
  &:focus
    text-decoration: none
    color: rgba($color-main, .7)
  .zmdi
    color: rgba($color-main, .5)
    font-size: 18px
    position: absolute
    right: 15px
    top: 50%
    -webkit-transform: translate(0, -50%)
    -moz-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    -o-transform: translate(0, -50%)
    transform: translate(0, -50%)
    















