$color-main: #000
$color-accent: #25CB82
$color-alert: #F3A715

body
  font-family: 'Roboto Mono'
  font-size: 12px
  background-color: #F5F5F5
  color: rgba($color-main, .5)
  font-size: 11px
  font-weight: 400
  &.with-header
    padding-top: 48px
  &.with-footer
    padding-bottom: 68px

.sy-header
  background-color: $color-accent
  box-shadow: 0 4px 6px rgba(24, 24, 24, 0.35)
  color: #FFF
  font-size: 14px
  font-weight: 400
  height: 48px
  line-height: 48px
  position: fixed
  z-index: 2
  width: 100%
  top: 0
  left: 0
.sy-header-btn
  font-size: 18px
  padding: 10px 15px
  margin-top: -10px
  margin-bottom: -10px
  display: inline-block
  color: #FFF



.sy-sidebar
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 3px 9px 0px rgba(24, 24, 24, 0.35)
  position: fixed
  left: 0
  top: 0
  bottom: 0
  width: 290px
  z-index: 3



.sy-reset-pt
  padding-top: 0 !important
.sy-reset-pb
  padding-bottom: 0 !important



.sy-text-right
  text-align: right



.sy-container
  padding-left: 10px
  padding-right: 10px
.sy-title
  padding: 15px 0
  color: rgba($color-main, .5)
  font-size: 12px
.sy-help
  color: rgba($color-main, .5)
  font-size: 10px



.sy-section-header
  color: rgba($color-main, .5)
  font-weight: 400
  padding: 20px 20px 10px
  margin: 0
.sy-list
  margin: 0
  padding: 0
  list-style-type: none
  box-shadow: 0 2px 3px rgba(24, 24, 24, 0.35)
.sy-list-item
  background-color: #FFF
  font-size: 11px
  & + .sy-list-item
    border-top: 1px solid rgba($color-main, .1)
  a
    display: inline-block
    padding: 10px 15px
    color: rgba($color-main, .5)
    &:hover,
    &:focus
      text-decoration: none
  strong
    color: rgba($color-main, .7)
    font-size: 12px
    font-weight: 700
  table
    width: 100%
    td
      vertical-align: top
  .sy-list-item--title
    padding-right: 50px
    color: $color-accent
    font-size: 14px
    font-weight: 700
  .sy-list-item--data
    width: 100%
  .zmdi
    color: rgba($color-main, .5)
    font-size: 18px



.sy-filter
  display: block
  height: 45px
  padding: 15px
  background-color: #FFF
  box-shadow: 0 2px 3px rgba(24, 24, 24, 0.35)
  color: rgba($color-main, .7)
  font-weight: 400
  position: relative
  z-index: 1
  &:hover,
  &:focus
    text-decoration: none
    color: rgba($color-main, .7)
  .zmdi
    color: rgba($color-main, .5)
    font-size: 18px
    position: absolute
    right: 15px
    top: 50%
    -webkit-transform: translate(0, -50%)
    -moz-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    -o-transform: translate(0, -50%)
    transform: translate(0, -50%)
  .sy-filter--triger
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    opacity: 0
    z-index: 1
    cursor: pointer
.sy-filter--query
  padding: 15px
  position: relative
  display: none
  &.is-visibale
    display: block
  & > input
    height: 35px
    background-color: rgba(0,0,0,.05)
    border-radius: 3px
    display: block
    width: 100%
    border: none
    padding: 10px 15px
    color: rgba(0,0,0,.7)
    font-size: 12px
.sy-filter--clear-query
  cursor: pointer
  color: rgba($color-main, .7)
  font-size: 18px
  position: absolute
  top: 15px
  right: 15px
  padding: 5px 15px



.ui-datepicker
  width: 100%
  background-color: #FFF
  box-shadow: 0 3px 9px rgba(24, 24, 24, 0.35)
  padding-bottom: 20px
  &:last-child
    display: none
  & > *
    width: 100%
    max-width: 250px
    margin-left: auto
    margin-right: auto
.ui-datepicker-prev,
.ui-datepicker-next
  padding: 5px 10px
  color: $color-accent
  font-size: 24px
.ui-datepicker-prev
  float: left
  margin-left: -10px
.ui-datepicker-next
  float: right
  margin-right: -10px
.ui-datepicker-title
  color: rgba($color-main, .5)
  font-size: 14px
  text-align: center
  line-height: 44px
.ui-datepicker-calendar
  th
    font-weight: 400
  th,
  td
    text-align: center
    padding: 5px
    & > span,
    & > a,
      display: inline-block
      width: 40px
      height: 40px
      line-height: 40px
      vertical-align: middle
      color: rgba($color-main, .5)
      font-size: 12px
      &.ui-state-highlight
        border-radius: 20px
        background-color: $color-accent
        color: #fff
        font-weight: 700
.ui-datepicker-week-end
  display: none
.sy-calendar
  .ui-state-highlight
    & > span,
    & > a,
      border-radius: 20px
      background-color: $color-accent
      color: #fff
      font-weight: 700
      &.ui-state-highlight
        background: transparent
        border: 1px solid $color-accent
        color: rgba($color-main, .5)



.sy-overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: rgba($color-main, .8)
  opacity: 0
  pointer-events: none
  transition: opacity .3s
  &.is-opened
    opacity: 1
    pointer-events: auto



.sy-btn
  display: inline-block
  background: $color-accent
  color: #FFF
  font-size: 12px
  font-weight: 700
  padding: 10px
  transition: background .3s
  text-align: center
  &:hover
    text-decoration: none
    background: lighten($color-accent, 7%)
    color: #fff
  &.is-transparent
    background: transparent
    color: rgba($color-main, .7)
    font-weight: 400
    &.is-primary
      color: $color-accent
  &.is-block
    display: block
    width: 100%
  &.is-huge
    font-size: 14px
    font-weight: 400
    padding: 12px 15px
    border-radius: 3px
    line-height: 24px
    height: 48px
    .zmdi
      font-size: 24px
      vertical-align: middle
      margin-top: -3px



.sy-multiselect-item
  input[type="checkbox"]
    display: none
    &:checked + label
      background: rgba($color-accent, .3)
      &:before
        content: '\f269'
  label
    padding: 15px
    background: #fff
    display: table
    width: 100%
    & > *
      display: table-cell
      vertical-align: middle
      padding: 0 5px
      &:last-child
        width: 100%
    &:before
      display: table-cell
      vertical-align: middle
      padding-right: 10px
      font-family: 'Material-Design-Iconic-Font'
      font-size: 24px
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      content: '\f26c'
      color: $color-accent
  & + &
    margin-top: 10px
  &.is-already-booked
    label
      background: rgba($color-alert, .2)
      &:before
        color: $color-alert
        content: '\f1f1'
.sy-multiselect-body
  margin: 10px 0 0
  padding: 0
  list-style-type: none
.sy-multiselect-item--title
  color: rgba($color-main, .7)
  font-size: 14px
  font-weight: 700
  white-space: nowrap
.sy-multiselect-item--subtitle
  color: rgba($color-main, .5)
  font-size: 12px
  font-weight: 400



.sy-modal
  position: fixed
  top: 50%
  left: 50%
  width: 300px
  transform: translate(-50%, -50%)
  background-color: #FFF
  box-shadow: 0 3px 9px rgba(24, 24, 24, 0.35)
.sy-modal-body,
.sy-modal-footer
  padding: 10px
.sy-modal-body
  font-size: 12px



.sy-footer
  height: 68px
  background-color: #FFF
  box-shadow: 0 -2px 6px rgba(24, 24, 24, 0.35)
  position: fixed
  width: 100%
  left: 0
  bottom: 0
  padding: 10px



































